@font-face {
  font-family:'Open Sans';
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format("woff2");
  font-display: swap;
  font-display: auto;
}

@font-face{
  font-family: "Roboto";
  src: url(../vendor/bootstrap-icons/fonts/comicz.ttf);
  font-display: swap;
  font-display: auto;
}

:root{
  /* font family variables. */ 
  --roboto: 'Roboto', cursive;
}

.whatIdo-img-div{align-items:center;justify-content:center}

@media (max-width: 992px) {
.whatIdo-img-div>*{max-width:100%;height:auto}
}

@media (min-width: 992px) {
  .whatIdo-img-div>*{max-width:145%;height:auto}
  }

@media (max-width: 992px) {
  .svg-img {
    max-height: 350px;
    padding:0px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .svg-img {
    max-height: 320px;
    padding:0px;
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media (min-width: 992px) {
  .blog-svg {
    max-height: 7000px;
    padding:0px;
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
.svg-img {
  max-height: 400px;
  padding:0;
  margin-left: 0px;
  margin-top: 10px;
}
}

@media (max-width: 992px) {
  .svg-img-wid {

    padding:0px;
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .svg-img-wid {
    max-height: 460px;
    padding:0px;
    margin-left: 0px;
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
.svg-img-wid {
  max-height: 460px;
  padding:0;
  margin-left: 90px;
  margin-top: 40px;
}
}


@media (min-width: 992px) {
 .interests .svg-img {
    max-height: 500px;
    padding:0;
    margin-left: 0px;
    margin-top: 0;
  }
  }
  
  html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-family: "Open Sans", sans-serif;
  color: #777990;
  background-color: rgba(255, 219, 219, 0.056);
  overflow-x: hidden;
 
}

a {
  color: #14142b;
  text-decoration: none;
}

a:hover {
  color: #777990;
  text-decoration: none;
}


#main {
  margin-top: 50px;
}

@media (max-width: 992px) {
  #main {
    margin-top: 30px;
  }
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgb(255, 255, 255);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 7px solid #000000;
  border-top-color: #ffffff;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top{position:fixed;visibility:hidden;opacity:0;right:15px;bottom:15px;z-index:996;background:linear-gradient(10deg,#14142b 50%,#777990 100%);width:40px;height:40px;border-radius:50px;transition:all .4s}
.back-to-top i{font-size:24px;color:#fff;line-height:0}
.back-to-top:hover{background:linear-gradient(10deg,#14142b 70%,#14142b 100%);color:#fff}.back-to-top.active{visibility:visible;opacity:1}

#header{background:linear-gradient(10deg,rgba(235, 235, 235, 0.9) 85%,rgb(255, 255, 255) 100%);z-index:997;padding:16px 0}
#header .logo{font-size:22px;margin:0;padding:0;line-height:1;font-weight:40000;letter-spacing:1px}
#header .logo a{color:#14142b;padding:0;font-family:roboto,cursive}
#header .logo span{color:#777990;font-family:roboto,cursive;padding-right:3px;font-size:12px}
#header .logo img{max-height:90px;padding:0}#header .logo img :hover{color:#fff}
#header .logo a:hover{color:#777990}@media (max-width:992px){#header .logo a{font-size:16px;font-family:roboto,cursive;font-weight:400}}
@media (min-width:992px){.header-social-links{padding-right:20px;padding-left:1px}}@media (max-width:992px){.header-social-links{padding-right:1px;padding-left:1px}}
.header-social-links a:hover{color:#777990}@media (min-width:1100px){.header-social-links a{color:#14142b;padding-left:3px;display:inline-block;line-height:0;transition:.3s;font-size:20px}}
@media (max-width:1100px){.header-social-links a{color:#14142b;padding-left:0;display:inline-block;line-height:0;transition:.3s;font-size:18px}}
@media (max-width:992px){.header-social-links a{color:#14142b;margin-left:1px;margin-right:4px;display:inline-block;line-height:0;transition:.3s;font-size:19px}}
@media (max-width:600px){.header-social-links a{color:#14142b;margin-left:1px;margin-right:2px;display:inline-block;line-height:0;transition:.3s;font-size:17px}}
@media (max-width:375px){.header-social-links a{color:#14142b;padding-left:1px;display:inline-block;line-height:0;transition:.3s;font-size:16px}}
@media (max-width:360px){.header-social-links a{color:#14142b;padding-left:1px;display:inline-block;line-height:0;transition:.3s;font-size:15.5px}
}@media (max-width:345px){.header-social-links a{color:#14142b;padding-left:0;display:inline-block;line-height:0;transition:.3s;font-size:14.5px}
}@media (max-width:330px){.header-social-links a{color:#14142b;padding-left:0;display:inline-block;line-height:0;transition:.3s;font-size:13.5px}
}@media (max-width:325px){.header-social-links a{color:#14142b;padding-left:0;display:inline-block;line-height:0;transition:.3s;font-size:12.5px}}
@media (max-width:319px){.header-social-links a{color:#14142b;padding-left:0;display:inline-block;line-height:0;transition:.3s;font-size:11px}}
@media (max-width:300px){.header-social-links a{color:#14142b;padding-left:0;display:inline-block;line-height:0;transition:.3s;font-size:0}}
.navbar{padding:0;font-family:roboto,cursive}
.navbar ul{margin:0;padding:0;display:flex;list-style:none;align-items:center}
.navbar li{position:relative;padding:10px 0 10px 28px}
.navbar a{display:flex;align-items:center;justify-content:space-between;font-family:Raleway,sans-serif;font-size:16px;font-weight:600;color:#14142b;white-space:nowrap;transition:.3s;position:relative;font-family:roboto,cursive}
.navbar a i{font-size:14px;line-height:0;margin-left:5px}.navbar>ul>li>a:before{content:"";position:absolute;width:0;height:2px;bottom:-5px;left:0;background-color:#777990;visibility:hidden;width:0;transition:all .3s ease-in-out 0s}
.navbar .active:before,.navbar a:hover:before,.navbar li:hover>a:before{visibility:visible;width:25px}.navbar .active,.navbar a:hover,.navbar li:hover>a{color:#777990}

.navbar .dropdown ul{display:block;position:absolute;left:14px;top:calc(100% + 30px);margin:0;padding:10px 0;z-index:99;opacity:0;visibility:hidden;background:linear-gradient(10deg,rgb(235, 235, 235) 91%,rgb(255, 255, 255) 100%);box-shadow:0 0 10px .01px #9a9a9aef;transition:.3s;border-radius:26px}
.navbar .dropdown ul li{min-width:200px;padding:0}
.navbar .dropdown ul a{padding:10px 20px;font-size:15px;text-transform:none;font-weight:600}
.navbar .dropdown ul a i{font-size:12px}.dropdown>ul>li>a:before{content:"";position:absolute;width:0;height:2px;bottom:5px;left:0;margin-left:20px;background-color:#777990;visibility:hidden;width:0;transition:all .3s ease-in-out 0s}
.navbar .dropdown ul a:hover,.navbar .dropdown ul li:hover>a{color:#777990}
.navbar .dropdown:hover>ul{opacity:1;top:100%;visibility:visible}
.navbar .dropdown .dropdown ul{top:0;left:calc(100% - 30px);visibility:hidden}
.navbar .dropdown .dropdown:hover>ul{opacity:1;top:0;left:100%;visibility:visible}
@media (max-width:1366px){.navbar .dropdown .dropdown ul{left:-90%}.navbar .dropdown .dropdown:hover>ul{left:-100%}}
.mobile-nav-toggle{color:#14142b;font-size:38px;cursor:pointer;display:none;line-height:0;transition:.5s;margin-left:3px}
.mobile-nav-toggle:hover{color:#777990}.mobile-nav-toggle.bi-x{color:#14142b}
.mobile-nav-toggle.bi-x:hover{color:#14142b}
@media (max-width:992px){.mobile-nav-toggle{display:block}
.navbar ul{display:none}}
.navbar-mobile{position:fixed;overflow:hidden;top:0;right:0;left:0;bottom:0;
    background:linear-gradient(10deg,#d3d3d350 20%,#ffffff32 100%);transition:.3s;z-index:999
}
.navbar-mobile .mobile-nav-toggle{position:absolute;top:15px;right:15px}
.navbar-mobile ul{display:block;position:absolute;top:57px;right:20px;bottom:95px;left:85px;padding:10px 0;border-radius:28px;background:linear-gradient(10deg,rgba(235, 235, 235, 0.9) 85%,rgb(255, 255, 255) 100%);overflow-y:auto;transition:.3s}
.navbar-mobile a{font-size:16px;padding-right:15px;color:#14142b}
.navbar-mobile .active,.navbar-mobile a:hover,.navbar-mobile li:hover>a{color:#777990}.navbar-mobile .getstarted{margin:15px}
.navbar-mobile .dropdown ul{position:static;display:none;margin:10px 20px;padding:10px 0;z-index:99;opacity:1;visibility:visible;background:rgba(235, 235, 235, 0.229);box-shadow:0 0 1px .01px rgb(105, 105, 105)}
.navbar-mobile .dropdown ul li{min-width:200px}
.navbar-mobile .dropdown ul a{padding:10px 20px}
.navbar-mobile .dropdown ul a i{font-size:12px}.navbar-mobile .dropdown ul .active:hover,.navbar-mobile .dropdown ul a:hover,.navbar-mobile .dropdown ul li:hover>a{color:#777990}.navbar-mobile .dropdown>.dropdown-active{display:block}
    

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  background: url("../img/home/rohitrathod.jpg");
  position: relative;
  padding: 120px 0 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: 50% 140%;
  background-attachment: fixed;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.102);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 600px) {

  #hero {
    background: url("../img/home/rohitrathodd.jpg");
    position: relative;
    background-size: cover;
    background-position: auto ;
    background-attachment: fixed;
  }
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
 
}

@media (max-width: 991px) {
  #hero {
    padding-top: 80px;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
 
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@media (max-width: 441px) {
  .hero-waves {
    display: block;
    margin-top: 140px;
    width: 100%;
    height: 70px;
    z-index: 5;
    position: relative;
  }
}
@media (min-width: 441px) {
  .hero-waves {
    display: block;
    margin-top: 170px;
    width: 100%;
    height: 70px;
    z-index: 5;
    position: relative;
  }
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}


#hero .container {
  padding-top:100px;
  position: relative;
 
}

@media (max-width: 991px) {
  #hero .container {
    padding-top:110px;
    position: relative;
  }
}

#hero h2 {
  color: #000000;
  margin: 10px 0 0 0;
  font-size: 22px;
  font: oblique 550 22px/ 32px var(--roboto);
  
}

#hero p {
  color: #b31010;
  margin: 27px 0 0 0;
  font-size: 30px;
  margin-bottom: 41px;
  font: oblique 550 22px/ 32px var(--roboto);
}

#hero p span {
  color: #000000;
  letter-spacing: 1px;
  font-weight: 600;
  
}


#hero .button{
  padding: .8rem 0.99rem;
  font-weight: bold;
  position: relative;
  border:  solid transparent;
  border-radius: 50px;
  margin-top: 9px;
  font-family: "roboto", cursive;
  font-size: 12px;
}

@media (max-width: 340px) {
  #hero .button{
    padding: .8rem 0.9rem;
    font-weight: bold;
    position: relative;
    border:  solid transparent;
    border-radius: 39px;
    margin-top: 11px;
  
  }
}

@media (max-width: 325px) {
  #hero .button{
    padding: .6rem 0.9rem;
    font-weight: bold;
    position: relative;
    border:  solid transparent;
    border-radius: 39px;
    margin-top: 9px;
  
  }
}



@media (max-width: 992px) {

  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.027);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

 
  #hero h2 {
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
    color: #000000bf;
  }

  #hero p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    color:#bb3232;
  }

  #hero .button{
    padding: .8rem 0.99rem;
    font-weight: bold;
    position: relative;
    border:  solid transparent;
    border-radius: 50px;
    margin-top: 9px;
    font-family: "roboto", cursive;
    font-size: 10px;
  }
}

.button{
  padding: .8rem 0.99rem;
  font-weight: bold;
  position: relative;
  border:  solid transparent;
  border-radius: 39px;
  margin-top: 9px;
  font-family: "roboto", cursive;
}

.button.primary-button{
  background: linear-gradient(10deg, #14142b 70%, #ff0000 100%);
  background-clip: padding-box;
  color: whitesmoke;
  transition: .6s ease;
  box-shadow: 0px 10px 30px #00000068;
  font-family: "roboto", cursive;
}

.button.primary-button:hover{
  background: linear-gradient(190deg, #000000 10%, #0f0000 100%);
  background-clip: padding-box;
  color: rgb(255, 255, 255);
}

.button.primary-button::after,.button.secondary-button::after{
  position: absolute;
  top: -1px; left: -1px;
  bottom: -1px;  right: -1px;
  background: linear-gradient(90deg, #000000 0%, #000000 100%);
  content: ' ';
  z-index: -1;
  border-radius: 39px;
}

.button.secondary-button{
  background: linear-gradient(10deg, #14142b 70%, #000000 100%);
  background-clip: padding-box;
  color: rgb(255, 255, 255);
  transition: .6s ease;
  box-shadow: 0px 10px 30px #87858553;
}

.button.secondary-button:hover{
  background: linear-gradient(10deg, #000000 70%, #b3b3b3 100%);
  background-clip: padding-box;
  color: whitesmoke;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  background-color: #ffffff00;
  overflow: hidden;
}

.section-bg {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  color: #000000;
  
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "roboto", cursive;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #777990;
  bottom: 0;
  left: calc(50% - 25px);
}


.section-title p {
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 52px;
}


/*--------------------------------------------------------------
# Services or New Skills Section
--------------------------------------------------------------*/

.portfolio .icon-box {
  text-align: center;
  padding:  20px 20px 30px 20px;
  transition: all ease-in-out 0.25s;
  background: #ffffff00;;
  margin-top: 8px;
  box-shadow: 0px 0px 0px 1px #000000ef;
  
}

.portfolio .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.3s;
  position: relative;
  cursor: pointer;
}

.portfolio .icon-box .icon i {
  font-size: 59px;
  transition: all ease-out 0.3s;
  position: relative;
}

.portfolio .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio .icon-box .icon svg path {
  transition: 0.9s;
  fill: #ffffffc1;
}

.portfolio .icon-box .icon .new-svg svg  {
  transition: 0.9s;
  position: relative;
  left: 3px;
}


.portfolio .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.portfolio .icon-box h4 a {
  color: #000000;
  transition: ease-in-out 0.05s;
}

.portfolio .icon-box h4 a:hover {
  color: #c82333; 
  
}

.portfolio .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #7fbbe0;
}


.portfolio .iconbox-blue i {
  color: #47aeff;    
}

.portfolio .icon-box .icon .new-svg svg path {
  fill: #47aeff;
}

.portfolio .iconbox-blue h4 a:hover {
  color: #47aeff;
  
}

.portfolio .iconbox-blue:hover  .icon i {
  color: rgb(150, 57, 57);
}

.portfolio .iconbox-blue:hover .new-svg svg path {
  fill: #ffffff;
}

.portfolio .iconbox-blue:hover .icon path {
  fill: #47aeff;
  
  
}

.portfolio .iconbox-blue p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #47aeff;
}
.portfolio .iconbox-blue:hover {
 
  box-shadow: 0px 0px 10px 0.01px #cac8c8ef;

}


.portfolio .iconbox-orange i {
  color: #ffa76e;
 
}
.portfolio .iconbox-orange p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #ffa76e;
}

.portfolio .iconbox-orange h4 a:hover {
  color: #ffa76e;
  
}

.portfolio .iconbox-orange:hover .icon i {
  color: #fff;
}

.portfolio .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.portfolio .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.portfolio .iconbox-orange:hover {
 
  box-shadow: 0px 0px 10px 0.01px #cac8c8ef;

}



.portfolio .iconbox-pink i {
  color: #e80368;
}

.portfolio .iconbox-pink p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #e80368;
}

.portfolio .iconbox-pink h4 a:hover {
  color: #e80368;
  
}

.portfolio .iconbox-pink:hover .icon i {
  color: #fff;
}

.portfolio .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.portfolio .iconbox-pink:hover {
 
  box-shadow: 0px 0px 10px 0.01px #cac8c8ef;

}




.portfolio .iconbox-yellow i {
  color: #ffbb2c;
}
.portfolio .iconbox-yellow p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #ffbb2c;
}

.portfolio .iconbox-yellow h4 a:hover {
  color: #ffbb2c;
  
}

.portfolio .iconbox-yellow:hover .icon i {
  color: #fff;
}

.portfolio .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.portfolio .iconbox-yellow:hover {
 
  box-shadow: 0px 0px 10px 0.01px #cac8c8ef;

}



.portfolio .iconbox-red i {
  color: #ff5828;
}
.portfolio .iconbox-red p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #ff5828;
}

.portfolio .iconbox-red h4 a:hover {
  color: #ff5828;
  
}

.portfolio .iconbox-red:hover .icon i {
  color: #fff;
}

.portfolio .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.portfolio .iconbox-red:hover {
 
  box-shadow: 0px 0px 10px 0.01px #cac8c8ef;
}



.portfolio .iconbox-teal i {
  color: #9411db;
}
.portfolio .iconbox-teal p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #9411db;
}

.portfolio .iconbox-teal h4 a:hover {
  color: #9411db;
  
}

.portfolio .iconbox-teal:hover .icon i {
  color: #fff;
}

.portfolio .iconbox-teal:hover .icon path {
  fill: #9411db;
}

.portfolio .iconbox-teal:hover {
 
  box-shadow: 0px 0px 10px 0.01px #cac8c8ef;

}





/*--------------------------------------------------------------
# Skills 
--------------------------------------------------------------*/

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f3f3f3;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #34b7a7;
}


.skills .info {
  width: 100%;
  padding-top: 9px;
  padding-left: 30px;
  padding-right: 0px;
  margin-top: 40px;
  background: rgba(180, 220, 207, 0.374);
}


.skills .info h4 {
  padding: 0 0 0 0px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #222222;
  
}

.skills .info i {
  font-size: 23px;
  color: #34b7a7;
  float: left;
  width: 70px;
  height: 54px;
  background: #effbf9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.skills .social-links {
  margin-top: 30px;
}

.skills .info .social-links a {
  font-size: 28px;
  display: inline-block;
  line-height: 1;
  margin-top: 0px;
  margin-right: 8px;
  padding-bottom: 29px;
  
}

.skills .social-links i:hover {
  background: #34b7a855;
  color: #ffffff;
}

.skills .logo  img {
  max-height: 28px;
  padding: 0px;
}

.skills .logo img:hover {
  background: #ffffff;
  color: #dddddd;
}





/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.facts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #000000;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  
}

.facts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
  font-family: "roboto", cursive;
}

.facts .count-box p {
  padding: 0;
  margin:0 0 20px 0;
  font-family: "roboto", cursive;
  font-size: 14px;

}



/*--------------------------------------------------------------
# education section
--------------------------------------------------------------*/
@media (min-width: 992px) {
.resume .image-margin{
  margin-top: 50px;
 
}}

@media (min-width: 992px) {
  .resume .image-size{
    width: 60%;
    height: auto;
    margin-left: 70px;
  }
}


@media (max-width: 992px) {
  .resume .image-size{
    width: 40%;
    height: auto;
    align-items: center;
    margin-left: 100px;

  }
}

@media (max-width: 992px) {
  .resume .parul-image-size{
    width: 60%;
    height: auto;
    align-items: center;
    margin-left: 65px;

  }
}

.btn-education-primary {
  font-family: "roboto", cursive;
  text-transform: uppercase;
   font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 2s;
  margin-top: 13px;
  margin-bottom: 11px;
  color: rgb(255, 255, 255);
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
}
.btn-education {
  font-family: "roboto", cursive;
  text-transform: uppercase;
   font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  transition: 2s;
  margin-top: 13px;
  margin-bottom: 11px;
  color: rgb(255, 255, 255);
  background: linear-gradient(10deg, #000000 70%, #000000 100%);

}

.btn-education:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
}

.btn-education-primary:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(10deg, #000000 70%, #000000 100%);
}


.resume-title h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 0px;
  position: relative;
  font-family: "roboto", cursive;
}

.resume-title p {
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 90px;
  text-align: center;
  

}


.resume .resume-item h3 {
  line-height: 22px;
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #403e3e;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 0px;
  
}

.resume .resume-item h4 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #716767;
  margin-bottom: 10px;
  padding-top: 0px;
}


.resume .resume-item h5 {
  font-size: 16px;
  background: linear-gradient(10deg, #000000 70%, #ff0000fa 100%);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 0px;
}

.resume .resume-item:last-child {
  padding-bottom: 100;
}


.resume .info h4 {
  padding: 0 0 0 0px;
  font-size: 18px;
  font-weight: 600;margin-top: 10px;
  margin-bottom: 0px;
  color: #222222;
}

.resume .info .social-links .social-links-2 i {
  font-size: 25px;
  float: left;
  background: linear-gradient(10deg, #000000 70%, #000000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.resume .info .social-links i {
  font-size: 25px;
  float: left;
  width: 65px;
  height: 50px;
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.resume .social-links i path {
  fill: #ffffff;
}
.resume .social-links {
  margin-top: 30px;
}

.resume .info .social-links a {
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  margin-top: 0px;
  margin-right: 8px;
  padding-bottom: 29px;
  
}

.resume .social-links i:hover {
  background: linear-gradient(10deg, #000000 70%, #000000 100%);
  color: #ffffff;
}
.resume .social-links .social-links-2 i:hover {
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
  color: #ffffff;
}
.resume .social-links i:hover  path {
  fill: #ffffff;
}

/*--------------------------------------------------------------
# experience section
--------------------------------------------------------------*/

.experiences-title h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  font-family: "roboto", cursive;
}



/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 0rem 0rem;
  position: relative;
  background: linear-gradient(10deg, #ffffff 0%, #ffffff 97%,#000000 98%,#ff0000ce 99.8%);
  margin-bottom: 0rem;
  z-index: 2;
  box-shadow: 0px 0px 2px 0.9px #000000ef;
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 1rem;
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  .box-shadow-full {
    padding: 2rem;
    margin-top: 0px;
  }
}


.experience_logo_img{
  
  width:100%;
  height: auto;
 
  }



/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/

.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: linear-gradient(90deg, #ffffff 20%, #ffffff 110%);
  transition: ease-in-out 0.3s;
  box-shadow: 0px 0px 1px 0.01px #000000ef;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
 
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: "roboto", cursive;
}

.interests .icon-box:hover {
  background: linear-gradient(10deg, #ffffff 70%, #ffffff 100%);
  box-shadow: 0px 0px 9px 0.00001px #cac8c8ef;
}


.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}



.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgb(0, 0, 0);
  padding: 0.11em;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: linear-gradient(10deg, #ffffff9a 35%, #00000072 50%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
  padding: 0.44em;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-family: "roboto", cursive;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(66, 65, 65, 0.789);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
  font-family: "roboto", cursive;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgb(0, 0, 0);
  margin: 0 5px 0 0;
  font-size: 49px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #c82333;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}


.lightboximage  {
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  }
  
  .caption {
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    display: inline-block;
    padding-top: .5em;
  }

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.video-box-21 {
  background: url("../img/projects/FreeTimeFun/portfolio-1/1.png") center center no-repeat;
  background-size: contain;
  min-height: 300px;
}

 .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#000000 50%, rgba(56, 56, 56, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

 .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

 .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

 .play-btn:hover::after {
  border-left: 15px solid #000000;
  transform: scale(20);
}

 .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.portfolio-details {
  padding-top: 0;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #dc3545;
 
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #dc3545;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact-title {
  text-align: center;
  padding-bottom: 30px;
  color: #000000;
}

.contact-title h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 8px;
  font-family: "roboto", cursive;
  position: relative;
}

.contact-title h3 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "roboto", cursive;
  position: relative;
}


.contact-title p {
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 55px;
}



@media (min-width: 992px) {
.contact-content{
  margin-top: 50px;
}
}



@media (min-width: 992px) {
.contact-container{
  margin-top: 100px;
}

}


.contact .info {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #000000d7 26%, #eeeeee 100%);
}

.contact .info i {
  font-size: 20px;
  color: #dc3545;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
  color: #ffffff;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #dac5c5;
}

.contact .info .email, .contact .info .social, .contact .info .phone {
  margin-top: 10px;
}

.contact .info .email:hover i, .contact .info .address:hover i,.contact .info .social:hover i, .contact .info .phone:hover i {
  background: #c82333;
  color: #fff;
}

.contact .info .social-links a{
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  margin-top: 9px;
  margin-left: 10px;
 
}

.contact .info .social-links i:hover {
  background: #000000;
  color: #ffffff;
}


.contact .contact-social-1 i {
  font-size: 23px;
  color: #ffffff;
  float: left;
  width: 70px;
  height: 54px;
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .contact-social-2 i {
  font-size: 23px;
  color: #ffffff;
  float: left;
  width: 70px;
  height: 54px;
  background: linear-gradient(10deg, #000000 70%, #000000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .contact-social .social-links {
  margin-top: 0;
}

.contact .contact-social .social-links a {
  font-size: 28px;
  display: inline-block;
  line-height: 1;
  margin-top: 0;
  margin-right: 8px;
  padding-bottom: 29px;
}

.contact .contact-social .social-links .contact-social-1 i:hover {
  background: linear-gradient(10deg, #000000 70%, #000000 100%);
  color: #ffffff;
}
.contact .contact-social  .social-links .contact-social-2 i:hover {
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
  color: #ffffff;
}


.contact .logo  img {
  max-height: 28px;
  padding: 0px;
}

.contact .logo img:hover {
  background: #ffffff;
  color: #dddddd;
}


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
@media (min-width: 767px) {
  .card-blog { 
    margin-top: 3rem;
  }
}

@media (max-width: 767px) {
  .card-blog {
    margin-top: 3rem;
  }
}


.card-blog .card-body {
  position: relative;
  
}

.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
  
}

.card-blog .card-category {
  display: inline-block;
  color: #fff;
  padding: 0 15px 5px;
  overflow: hidden;
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .1px;
  margin-bottom: 0;
  font-family: "roboto", cursive;
}


.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: .6rem;
  text-align: center;
}
.card-body a {
  color:black;
  font-size:20px;
  text-align: center;
}
.card-body a:hover{
  color:rgb(204, 72, 72);
  
}
  
.card-blog .card-description {
  color: #4e4e4e;
  
}

.card-blog .post-author {
  display: inline-block;
  font-family: "roboto", cursive;

}
.post-author a{
  color: #000;

}

.card-blog .post-date {
  color: #4e4e4e;
  float: right;
  font-family: "roboto", cursive;
  font-size: 12px;
}


.blog-mf .info h4 {
  padding: 0 0 0 0px;
  font-size: 18px;
  font-weight: 600;margin-top: 10px;
  margin-bottom: 0px;
  color: #000000;
}

.blog-mf .info i {
  font-size: 23px;
  color: #ffffff;
  float: left;
  width: 70px;
  height: 54px;
  background: linear-gradient(10deg, #000000 70%, #ff0000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.blog-mf .social-links {
  margin-top: 30px;
}

.blog-mf .info .social-links a {
  font-size: 28px;
  display: inline-block;
  line-height: 1;
  margin-top: 0px;
  margin-right: 8px;
  padding-bottom: 29px;
}

.blog-mf .social-links i:hover {
  background: linear-gradient(10deg, #000000 70%, #000000 100%);
  color: #ffffff;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: linear-gradient(10deg, #000000 70%, #000000 100%);
  padding: 14px 0;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  font-family: "roboto", cursive;
}

#footer .credits {
  padding-top: 5px;
  font-size: 1px;
  font-family: "roboto", cursive;
}

#footer .credits a {
  color: #ff0000;
  font-family: "roboto", cursive;
}

.home-mouse{
  bottom:5.5%;
  left:0;
  margin:0 auto;
  position:absolute;
  right:0;width:29px
} 

.home-mouse .mouse-shape{
  background-color:rgba(0,0,0,.45);
  border:2px solid transparent;
  border-color:#fff;
  border-radius:25px;
  box-sizing:content-box;
  height:28px;
  opacity:.8;
  padding:5px 11px;
  width:3px
} 

.home-mouse .mouse-shape .mouse-wheel{
  -webkit-animation-duration:1.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name:scrollDown;
  -webkit-animation-timing-function:cubic-bezier(.15,.41,.69,.94);
  animation-duration:1.3s;
  animation-iteration-count:infinite;
  animation-name:scrollDown;
  animation-timing-function:cubic-bezier(.15,.41,.69,.94);
  background-color:#fff;
  border-radius:25%;
  height:9px;
  width:3px }


@-webkit-keyframes scrollDown 
{
  0%
  {
    opacity:0
  }
  
  10%
  { -webkit-transform:translateY(0);
    opacity:1;transform:translateY(0)
  }

  100%
  {-webkit-transform:translateY(15px);opacity:0;transform:translateY(15px)
  }

}

@keyframes scrollDown 
{
  0%
  {
    opacity:0
  }
  
  10%
  { -webkit-transform:translateY(0);
    opacity:1;transform:translateY(0)
  }

  100%
  {-webkit-transform:translateY(15px);opacity:0;transform:translateY(15px)
  }

} 

#hire-area{
  background: url("../img/about/rohitrathodd.webp");
  background-size: cover;
  background-attachment: fixed;
  padding-bottom:88px;
  padding-top:88px;
  background-position:50% 2%;
  
  
}

@media (max-width:600px) {
  #hire-area{
    padding-bottom:68px;
    padding-top:68px;
    background-position:60% 15%;    
  }
}

.hire-area .row-custom{
  -ms-flex-align:center;
  align-items:center
}

.hire-area .button-part{
  -ms-flex-pack:end;
  display:-ms-flexbox;
  display:flex;
  justify-content:flex-end;
  font-family: "roboto", cursive;
}

.hire-area .hire-title{
  color:#f0f0f0;
  font-weight:700;
  margin-bottom:14px;
  font-family: "roboto", cursive;
  
}

.hire-area .hire-description{
  color:#656565;
  font-size:15px;
  margin-bottom:0
}

.hire-area .hire-btn
{ padding:12px 54px
}


.team-bg {
  background-color: #f7f7f7;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.095) 0%, rgba(251, 1, 1, 0) 20%, rgba(255, 0, 0, 0) 100%);
  position: relative;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
  font-family: "roboto", cursive;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
  font-family: "roboto", cursive;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(206, 206, 206, 0.5);
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}

.team .member .social a:hover {
  color: #777990;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(235, 234, 234, 0.496) 0%, rgba(65, 11, 11, 0) 20%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.about .team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(255, 0, 0, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}



@media (max-width:767.98px)
{.hire-area .content-part{text-align:center}

.hire-area .button-part{-ms-flex-pack:center;justify-content:center}

.hire-area .hire-title{font-size:34px}.hire-area .hire-description{font-size:14px;margin-bottom:26px}.hire-area .hire-btn{padding:10px 38px}}

@media (max-width:575.98px){.hire-area .hire-title{margin-bottom:18px}}

.certs-body-div{display:flex;justify-content:space-between;flex-wrap:wrap}
@media (max-width:1380px){.certs-header{font-size:35px}}

@media (max-width:768px){.certs-body-div{flex-direction:column}.certs-header{font-size:30px}}.cert-card{width:30%;display:inline-block;justify-content:center;align-items:center;text-align:center;border:1px solid #d9dbdf;border-radius:5px;box-shadow:5px 5px 5px #d9dbdf;margin-bottom:30px;flex:0 0 30%}.cert-header{margin:0;border-radius:5px 5px 0 0}.logo_img{margin:3px;width:auto;height:100px}.cert-body{margin:0}.cert-body-title{font-size:20px}.cert-body-subtitle,.cert-body-title{font-family: "Poppins", sans-serif;}.cert-body-subtitle{color:grey}.content-cert{position:relative;width:100%;margin:auto;overflow:hidden}.content-cert .content-overlay{background:rgba(0,0,0,.7);position:absolute;height:99%;width:100%;left:0;top:0;bottom:0;right:0;opacity:0;transition:all .4s ease-in-out 0s}.content-cert:hover .content-overlay{opacity:1}.content-details{position:absolute;text-align:center;padding-left:1em;padding-right:1em;width:100%;top:50%;left:50%;opacity:0;transform:translate(-50%,-50%);transition:all .3s ease-in-out 0s}.content-cert:hover .content-details{top:50%;left:50%;opacity:1}.content-details h3{color:#fff;font-weight:500;font-family:Google Sans Regular;letter-spacing:.15em;margin-bottom:.5em;text-transform:uppercase}.fadeIn-top{top:20%}@media (max-width:768px){.cert-card{width:100%}}

.organizations-header{font-size:40px;line-height:1.1;font-family:Google Sans Regular;text-align:center;margin-left:10px;margin-right:10px}
@media (max-width:1380px){.organizations-header{font-size:35px}}
@media (max-width:768px){.organizations-header{font-size:25px}}

.dev-icons-orgs{padding-left:0;list-style:none;font-size:3rem;margin:50px 50px 0;text-align:center}
.organizations-img{width:100px;height:auto}.organizations-inline{display:inline-block;margin-right:50px;margin-bottom:50px;font-family:Google Sans Regular}.organizations-inline:hover{transform:translateY(-5px)}
@media (max-width:768px){.organizations-img{width:60px}
.dev-icons-orgs{margin-left:20px;margin-right:20px}
.organizations-inline{margin-right:30px;margin-bottom:30px}}
.software-skill-inline{display:inline-block;margin-right:20px;margin-bottom:20px;font-family:Google Sans Regular}
.software-skill-inline>i{color:#868e96}.software-skill-inline>i:hover{color:#645beb}

.footer-text{text-align:center;font-weight:700;font-family:Google Sans Regular}
.experience-card{width:100%;margin-bottom:20px;border-radius:10px;display:flex;flex-direction:row}.experience-card-logo-div{margin:10px}.experience-card-body-div{width:100%}.experience-card-header-div{display:flex;flex-direction:row}.experience-card-logo{width:70px}.experience-card-title{font-family:Google Sans Regular;margin:10px 7px 2px 0;text-align:left}.experience-card-company{font-family:Google Sans Regular;margin:0;text-align:left}.experience-card-duration{font-family:Google Sans Regular;margin:10px 0 2px;text-align:right;color:#868e96}.experience-card-heading-left{float:left;margin-left:10px;margin-right:auto}.experience-card-heading-right{float:right;margin-left:auto;margin-right:10px}.experience-card-location{font-family:Google Sans Regular;margin:0;text-align:right;color:#868e96}.experience-card-description{margin-top:5px;margin-left:10px;text-align:justify;margin-right:20px;font-family:Google Sans Regular}.experience-card-company>a{position:relative;color:#000;text-decoration:none}.experience-card-company>a:hover{color:#000}.experience-card-company>a:hover:before{visibility:visible;transform:scaleX(1)}.experience-card-company>a:before{content:"";position:absolute;width:100%;height:1px;bottom:0;left:0;background-color:#000;visibility:hidden;transform:scaleX(0);transition:all .3s ease-in-out 0s}@media (max-width:768px){.experience-card{margin-bottom:10px;flex-direction:column;text-align:center}.experience-card-logo{width:100px}.experience-card-heading-left,.experience-card-heading-right{float:center;margin-left:auto;margin-right:auto}.experience-card-company,.experience-card-title{text-align:center}.experience-card-duration{margin-top:2px;text-align:center}.experience-card-location{text-align:center}.experience-card-header-div{flex-direction:column}.experience-card-description{margin-left:14px;margin-right:14px;text-align:justify}}.experience-accord{margin:50px}.accord-panel{font-family:Google Sans Regular}@media (max-width:768px){.experience-accord{margin:20px}}.experience-main{width:100vw}.basic-experience{margin-left:5%;margin-right:5%}.experience-heading-div{display:flex}.experience-heading-div>*{flex:1 1}.experience-heading-img-div{align-items:center;justify-content:center}.experience-heading-text-div{text-align:center}.experience-heading-img-div>*{max-width:100%;height:auto}.experience-heading-text{font-size:56px;font-weight:400;font-family:Google Sans Medium;line-height:1.1;text-align:center;margin-top:80px}.experience-heading-sub-text{font-size:30px;font-family:Google Sans Regular;text-align:center;margin-bottom:10px}.experience-header-detail-text{font-size:20px;line-height:30px;margin-top:0;margin-left:20px;margin-right:20px;font-family:Google Sans Medium}@media (max-width:1380px){.experience-heading-text{font-size:50px;margin-top:80px}.experience-heading-sub-text{font-size:25px}}@media (max-width:768px){.experience-heading-text{font-size:30px;margin-top:20px}.experience-heading-sub-text{font-size:20px}.experience-heading-div{flex-direction:column}.experience-header-detail-text{font-size:16px;margin-right:0;line-height:normal;text-align:center}}

.blog-heading-div,.contact-heading-div{
  display:flex
}
.address-heading-div{display:flex;margin-top:80px}

.address-heading-div>*,.blog-heading-div>*,.contact-heading-div>*{flex:1 1}
.blog-heading-img-div,.contact-heading-img-div{align-items:center;justify-content:center}
.address-heading-text-div,.blog-heading-text-div,.contact-heading-text-div{text-align:center}
.blog-heading-img-div>*,.contact-heading-img-div>*{max-width:100%;height:auto}
.contact-heading-text{margin-top:60px}

.blog-heading-text,.contact-heading-text{
  font-size:56px;font-family: "Poppins", sans-serif;;text-align:center
}
.blog-heading-text{margin-top:40px}
.address-heading-text{font-size:30px;font-family: "Poppins", sans-serif;text-align:center;margin-bottom:10px}
.blog-header-detail-text,.contact-header-detail-text{margin-top:0;margin-left:20px;margin-right:20px;font-family: "Poppins", sans-serif;}
.address-btn-div,.blogsite-btn-div,.resume-btn-div{width:100%;display:flex;justify-content:center}
.address-btn-div{margin-top:0}

@media (max-width:1380px){
  .contact-heading-text{font-size:50px;margin-top:60px}
  .blog-heading-text{font-size:50px;margin-top:40px}
}

@media (max-width:767px){
  .blog-heading-text,.contact-heading-text{font-size:40px;margin-top:0}
  .address-heading-text{font-size:20px}
  .blog-heading-div{flex-direction:column-reverse;margin-top:60px}
  .address-heading-div{flex-direction:column;margin-top:60px}
  .address-heading-text-div,.blog-heading-text-div{margin-top:40px}
  .contact-heading-div{flex-direction:column}
  .blog-header-detail-text,.contact-header-detail-text{margin-left:0;margin-right:0;text-align:center}
}


/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  padding: 0.44em;
}
.gallery-item {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgb(0, 0, 0);
  padding: 0.11em;
}
.gallery .gallery-item:hover img {
  transform: scale(1.1);
}


.dev-icons{padding-left:0;list-style:none;font-size:3rem;margin-bottom:0;margin-top:0;text-align:center}

:root {
  --swiper-theme-color: #007aff
}

:root {
  --swiper-navigation-size: 44px
}
 





:root {
  --color-calendar-graph-day-bg: #ebbcbc34;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

rect.ContributionCalendar-day[data-level='0'] {
    fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level='1'] {
    fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level='2'] {
    fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level='3'] {
    fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level='4'] {
    fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full > .float-left {
    display: none;
}

.calendar {
    font-family: opensans, sans-serif;
    border: 2px solid #000000;
    border-radius: 4px;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 12px;
    fill: rgb(0, 0, 0);
}

.contrib-legend {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    
}

.contrib-legend .legend {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {
    padding: 5px 0 0;
    text-align: center;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 11px;
}

@media (max-width:767px){
  .contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 11px;
}

}
.contrib-column-first {
    border-left: 0;
}

.table-column {
    display: table-cell;
    width: 1%;
    padding-right: 9px;
    padding-left: 9px;
    vertical-align: top;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #333;
}
@media (max-width:767px){
  .contrib-number {
    font-weight: 300;
    line-height: 1.8em;
    font-size: 18px;
    display: block;
    color: #333;
}

}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.contrib-footer {
    font-size: 11px;
    padding: 0 10px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    height: 26px;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}
#user-activity-overview{
    display:none;
}

.day-tooltip {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    font-size: 12px;
    color: #959da5;
    text-align: center;
    background: rgba(0,0,0,.85);
    border-radius: 3px;
    display: none;
    pointer-events: none;
}
.day-tooltip strong {
    color: #dfe2e5;
}
.day-tooltip.is-visible {
    display: block;
}
.day-tooltip:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -5px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0,.85)
}

text.ContributionCalendar-label {
    fill: rgba(0, 0, 0, 0.565);
    font-size: 11px;
}
















